<nav class="navbar fixed-bottom navbar-light " style="background-color: #e5e5e5">
    <a class="navbar-brand mx-auto order-0 " href="/admin"><i class="fal fa-sliders-h"></i></a>
    <a class="navbar-brand mx-auto order-0" href="/"><i class="far fa-flower-tulip"></i></a>
</nav>