<nav class="navbar fixed-bottom navbar-light " style="background-color: #e5e5e5">
    <a class="navbar-brand mx-auto order-0 " href="/admin"><i class="fad fa-sliders-h fa-lg {{#if admin}}text-success{{/if}}"></i></a>
    <a class="navbar-brand mx-auto order-0" href="/"><i class="fad fa-hand-holding-seedling fa-lg {{#if home}}text-success{{/if}}"></i></a>
</nav>