<div class="container">
    <div class="card shadow mb-3 p-2 rounded">
        <div class="card-header p-1 text-center bg-transparent">
            <h6>Mail Reports</h6>
        </div>
        <div  class="card-body overflow-auto row " >
            <a type="button" class="btn btn-block btn-success" href="/reporting/lastDay">Send last day report</a>
            <a type="button" class="btn btn-block btn-success" href="/reporting/today">Send today report</a>
        </div>
    </div>
</div>