<div class="container">
    {{#if greenhouseGrowth}}
        <div class="mt-3 text-success mb-3">
            <h5>
                <i class="fad fa-hand-holding-seedling fa-lg"></i> Current growth - {{growthProgress.days}} days
            </h5>
        </div>
        <div class="container">
            {{>greenhouse_cycle}}
        </div>
    {{/if}}
</div>