<div class="container">
    {{>greenhouse_cycle}}
</div>
<div class="container">
    {{>greenhouse_scheduler}}
</div>
<div class="container">
    {{>greenhouse_general_stats}}
</div>
<div class="container">
    {{>greenhouse_relays}}
</div>
